<?xml version="1.0"?>
<configuration>
  <!-- Register a section handler for the log4net section. -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <!-- This section contains the log4net configuration settings. -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger{3} - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="rolling-log.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]
"/>
        <footer value="[Footer]
"/>
        <conversionPattern value="%utcdate %-5level %logger{3} - %property{instance} - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <!-- Specify the level for some specific categories -->
    <logger name="Systemic">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
  <connectionStrings>
    <add name="database.demo" connectionString="Data Source=|DataDirectory|\SifDemoDatabase.sdf;Password=;" providerName="System.Data.SqlServerCe.3.5"/>
  </connectionStrings>
  <system.data>
    <!-- A DbProviderFactory entry is required for SQL Server CE because it is not provided in machine.config by default. -->
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5"/>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
